.shopContainer {
  display: grid;
  grid-template-columns: auto auto;

}

.shopCardList{
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  grid-column: 2;
}